@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
h1 {
    font-size: 3em;
    line-height: 4rem;
}
h2 {
    font-size: 2.4em;
}
h3 {
    font-size: 1.7em;
}
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 40;
}
.bottomNav .on .material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 40;
}
.add-favorite.saved .material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 40;
    color: red;
}
#logo {
    display: flex;
    align-items: center;
    margin-right: auto;
}
#logo img {
    height: 70px;
    margin-right: 12px;
}
#logo span {
    font-family: 'Sagasti W05 Regular', 'Times New Roman', Times, serif;
    font-size: 2em;
}
